## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.db
*.db-shm
*.db-wal

## Node
node_modules/
package-lock.json

## IDE
.idea/
.vscode/

## OS
.DS_Store
Thumbs.db

## NuGet
packages.lock.json
